# Temporary files and logs
*.log
*.tmp

# IDE files
.vscode/
.idea/
/cf-prompt-plugin
/bin/
/cf-prompt-cli-plugin
/cf-prompt-plugin-v2
/cf-prompt-plugin-v3
cf-prompt
/prompter
pkg/prompter/prompter
templates/uaa/uaa.yml
templates/korifi_config.yaml
